@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 10%;
  position: relative;
  z-index: 10;
}

header .logo {
  cursor: pointer;
  margin-right: auto;
  height: 50px;
}

header .nav-items {
  list-style: none;
}

header .nav-items li {
  display: inline-block;
  padding: 0 50px;
  height: 46px;
  padding-top: 12px;
}

header .nav-items li.current {
  font-size: 1.1rem;
  border-bottom: 3px solid #ffac12;
}

header .nav-items li:nth-child(4) {
  margin-right: 10px;
}

header .nav-items li:not(:last-child):hover {
  border-bottom: 3px solid #ffac12;
}

header .nav-items li:last-child {
  background: #ffac12;
  height: 46px;
  width: 230px;
  border-top-right-radius: 18px;
  overflow: hidden;
}

header .nav-items li:last-child a {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

header .nav-items li:last-child a i {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

header .nav-items li:last-child:hover {
  cursor: pointer;
  background: #f8a100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .nav-items li:last-child:hover a {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .nav-items li:last-child:hover a i {
  color: #050505;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

#hero .img-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%);
}

#hero .brand-text-container {
  z-index: 10;
  position: relative;
  color: #fff;
  width: 30%;
  margin-top: 118px;
  margin-left: 185px;
}

#hero .brand-text-container .brand-text h1 {
  font-size: 80px;
}

#hero .brand-text-container .brand-text p {
  margin-top: 10px;
  width: 75%;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

#hero .listings-container {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#hero .listings-container .listings-redirection {
  position: relative;
  margin: auto;
  background: #fff;
  width: 1069px;
  height: 100px;
}

#hero .listings-container .listings-redirection a {
  color: #000;
  font-family: 'DM Sans', Tahoma;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.5px;
  font-weight: 600;
  padding-left: 40px;
}

#hero .listings-container .listings-redirection a i {
  color: #ffac12;
  font-weight: 600;
}

body {
  background-color: #777;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'DM Sans', Tahoma;
}

h1 {
  font-family: 'DM Sans', Tahoma;
}

p {
  font-family: 'DM Sans', Tahoma;
}
/*# sourceMappingURL=style.css.map */