// variables
$primary-color: #ffac12;
$bright-color: #fff;
$dark-color: #000;

// resets
* {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
