@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import 'config';
@import 'navbar';
@import 'hero';

body {
    background-color: #777; //temp -> f5f5f5
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $bright-color;
    font-family: 'DM Sans', Tahoma;
}

h1 {
    font-family: 'DM Sans', Tahoma;
}

p {
    font-family: 'DM Sans', Tahoma;
}
